button.fvr-cookies-btn-primary {
    font-size: 16px;
    font-family: inherit;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background: #fff;
    color: #252525;
    padding: 12px 20px;
    outline: none;
    border: 0;
    width: auto;
    cursor: pointer;
    border-radius: $radius;
    font-weight: bold;

    &:hover { opacity: 0.9; }
}

button.fvr-cookies-btn-secondary {
    font-size: 16px;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    outline: none;

    &:hover { 
        color: #000;
    }
}